<?xml version="1.0" encoding="UTF-8"?>
<installer-gui-script minSpecVersion="1">
  <title>Cinecred</title>
  <options customize="never" require-scripts="false" hostArchitectures="x86_64"/>
  <pkg-ref id="Cinecred" version="@VERSION">Cinecred.pkg</pkg-ref>
  <choice id="Cinecred" visible="false">
    <pkg-ref id="Cinecred"/>
  </choice>
  <choices-outline>
    <line choice="Cinecred"/>
  </choices-outline>
  <background file="background-light.png" mime-type="image/png" alignment="bottomleft" scaling="none"/>
  <background-darkAqua file="background-dark.png" mime-type="image/png" alignment="bottomleft" scaling="none"/>
</installer-gui-script>
