[Desktop Entry]
Name=Cinecred
Comment=@DESCRIPTION@
Comment[de]=@DESCRIPTION_DE@
Comment[zh_CN]=@DESCRIPTION_ZH_CN@
Exec=/opt/cinecred/bin/cinecred
Icon=cinecred
Terminal=false
Type=Application
Categories=AudioVideo;Video;
